body{
	padding: 50px;
 	font: 14px Helvetica, Arial, sans-serif;
}

a{
 	color: #00B7FF;
}

.msg {
    border-radius: 20px;
    background-color: #DDD;
    padding: 7px 15px;
    display: inline-block;
}

.msgContainer{
	overflow: auto;
	margin-bottom: 0.8em;
}

.msgContainer__user{
	text-align: right;

	.msg{
		background-color: #54A0FF;
		color: #fff;
	}

	.date{
		float: none;
	}
}

.messages{
	list-style-type: none;
}

.user {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8em;
    color: #ccc;
    letter-spacing: 0.05em;
    margin-bottom: 0.2em;
}

.date {
    margin: 3px 0;
    font-size: 0.8em;
    color: #ccc;

}